.footer {
    background: linear-gradient(to top, green, white);
    color: #fff;
    padding: 40px 0 5px;
    text-align: center;
    position: absolute;
    bottom: 100;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(133, 240, 33);
}