.navContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.linksContainer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.link{
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.logo{
    width: 12em;
    border-radius: 10%;
}